{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h1>Criar Conta</h1>
{% endblock header %}

{% block content %}
    {% if form.errors %}
        <p class="aviso-error" style="color: #FF0000">*Campo obrigatório. Máximo de 150 caracteres. Use apenas letras, 
            números e os seguintes caracteres especiais: @ . + - _</p>
        <p class="aviso-error" style="color: #FF0000">*Sua senha não pode ser muito semelhante a outras informações pessoais suas.</p>
        <p class="aviso-error" style="color: #FF0000">*Sua senha deve conter pelo menos 8 caracteres.</p>
        <p class="aviso-error" style="color: #FF0000">*Sua senha não pode ser uma senha comumente usada.</p>
        <p class="aviso-error" style="color: #FF0000">*Sua senha não pode ser totalmente numérica.</p>
    {% endif %}

     <form action="{% url 'register' %}" method="post" class="ul-none form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">Registrar</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'index'%}"/>
        
    </form>
{% endblock content %}
